body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.page {
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

.page-active {
	pointer-events: all;
}

.page-home {
	background: white;
	transition: transform 500ms cubic-bezier(0,1.01,.14,.98);
	transform: translateY(-100vh);
	z-index: 1;
}

.page-home.page-active {
	transform: translateY(0);
}
