.scroll-layout {
	position: fixed;
}

.scroll-layout-block {
	position: absolute;
	width: 100vw;
	height: 100vh;
	cursor: url(https://deis.com/assets/images/svg/circle.svg) 4 12, auto;
	user-select: none;
	mix-blend-mode: difference;
}
